@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Theme Variables */
:root {
  --background: #FFFCF2;
  --muted: #CCC5B9;
  --dark: #403D39;
  --darkest: #252422;
  --primary: #EB5E28;
}

/* Global Styles */
body {
  background-color: var(--background);
  color: var(--darkest);
}

button {
  background-color: var(--primary);
  color: white;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #D04E20; /* Slightly darker for hover */
}

input {
  border: 1px solid var(--muted);
  background: white;
  color: var(--darkest);
}

.dark {
  --background: #252422;
  --muted: #403D39;
  --dark: #CCC5B9;
  --darkest: #FFFCF2;
  --primary: #EB5E28;
}